<%
metaData = {
  title: 'お知らせ | N-Style',
  description: 'お知らせ一覧ページです。' 
  }; 
%>
<!DOCTYPE html>
<html lang="ja">
  <%- include('../common/head.ejs',{meta:metaData}) %>
  <body>
    <%- include('../common/header.ejs') %>

    <main></main>

    <%- include('../common/footer.ejs') %>
  </body>
</html>
