<header class="header">
  <a href="/index.html" class="header__ttl">
    <h1>
      （有）エヌ・スタイル
    </h1>
  </a>
  <ul class="header-nav">
    <li class="header-nav-item"><a href="/news/news-list.html" class="header-nav-item__link">お知らせ</a></li>
    <li class="header-nav-item"><a href="https://www.goo-net.com/usedcar_shop/1300319/stock.html" class="header-nav-item__link" target="_blank" rel="noopener noreferrer">在庫一覧</a></li>
    <li class="header-nav-item"><a href="https://reserva.be/nstylemotor/contact?mode=edit" class="header-nav-item__link" target="_blank" rel="noopener noreferrer">お問合せ</a></li>
    <li class="header-nav-item"><a href="https://reserva.be/nstylemotor" class="header-nav-item__link" target="_blank" rel="noopener noreferrer">予約フォーム</a></li>
  </ul>
  <div class="openbtn1"><span></span><span></span><span></span></div>
</header>