<header class="header">
  <h1>
    <img src="" alt="">
  </h1>
  <ul class="header-nemu">
    <li class="header-nemu-item"><a href="/news/news.html" class="header-nemu-item__link">お知らせ</a></li>
    <li class="header-nemu-item"><a href="" class="header-nemu-item__link">お問合せ</a></li>
    <li class="header-nemu-item"><a href="" class="header-nemu-item__link">予約フォーム</a></li>
  </ul>
</header>