<%
metaData = {
  title: 'N-style',
  description: 'top'
};
%>
<!DOCTYPE html>
<html lang="ja">
<%- include('./common/head.ejs',{meta:metaData})  %> 
<body>
  <%- include('./common/header.ejs') %> 

  <main>
    <div class="p-top-firstView">

    </div>

    <div class="p-top-message">

    </div>

    <div class="p-top-servise">

    </div>

    <div class="p-top-map">

    </div>
  </main>

  <%- include('./common/footer.ejs') %> 
</body>
</html>