// --------------------------------------------------------------------------------
//    variable
// --------------------------------------------------------------------------------

// hover
$defOpacity: 0.7;

// font-family
$font_sans: "Noto Sans", sans-serif;
$font_mi: "Shippori Mincho", serif;
$font_ja: "Noto Serif JP", serif;

// font-weight
$light: 300;
$normal: 400;
$bold: 600;
$extra: 700;

html {
  font-size: 62.5%;
}

// platform color
